<template id="xp-per-hour-dropdown-template">
    <div id="header-button" class="dropdown d-inline-block mr-1">
        <button type="button" class="btn btn-sm btn-dual text-combat-smoke" id="page-header-xp-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">XP</button>
        <div class="dropdown-menu dropdown-menu-right p-0 border-0 font-size-sm" id="header-xp-dropdown"
            aria-labelledby="page-header-xp-dropdown" x-placement="bottom-end"
            style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(-345px, 31px, 0px);min-width: 400px;">
            <div class="p-2 text-center" style="max-height:500px;overflow-y:auto;">
                <table class="table table-sm table-vcenter m-0">
                    <thead>
                        <tr>
                            <th class="text-center" style="width: 30px;"><button id="options" class="btn btn-sm btn-dual text-combat-smoke"><i class="fas fa-cog text-dark"></i></button></th>
                            <th style="width: 75px;"><small>Level</small></th>
                            <th style="width: 80px;"><small>XP/H</small></th>
                            <th class="d-md-table-cell"><small>Next Level</small></th>
                            <th style="width: 75px;"><small>Target</small></th>
                        </tr>
                    </thead>
                    <tbody id="table-body">

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>
<template id="xp-per-hour-dropdown-skill-template">
    <tr id="row" class="d-none">
        <th class="text-center" scope="row">
            <img class="skill-icon-xs" id="skill-image" src="">
        </th>
        <td class="font-w600 font-size-sm">
            <div id="skill-level-container-0"><small id="skill-level"></small></div>
            <div id="abyssal-level-container-0"><img class="skill-icon-xxs mr-1" src="assets/media/skills/combat/abyssal_damage.svg"><small class="text-danger" id="abyssal-level"></small></div>
        </td>
        <td class="font-w600 font-size-sm">
            <div id="skill-level-container-1"><small id="skill-xp"></small></div>
            <div id="abyssal-level-container-1"><small class="text-danger" id="abyssal-xp"></small></div>
        </td>
        <td class="font-w600 font-size-sm d-md-table-cell">
            <div id="skill-level-container-2"><small id="skill-time"></small></div>
            <div id="abyssal-level-container-2"><small class="text-danger"  id="abyssal-time"></small></div>
        </td>
        <td class="font-w600 font-size-sm">
            <div id="skill-level-container-3"><input type="number" id="skill-target" value="0" style="width: 50px;" /></div>
            <div id="abyssal-level-container-3"><input type="number" id="abyssal-target" value="0" style="width: 50px;" /></div>
        </td>
    </tr>
</template>
<template id="xp-per-hour-options-template">
    <div id="options-root">
        <table class="table table-sm table-vcenter text-left m-0">
            <thead>
                <tr>
                    <th style="width: 30px;"></th>
                    <th><small>Skill</small></th>
                    <th style="width: 75px;"><button id="reset" role="button" class="btn btn-sm btn-danger font-size-xs w-100">Reset All</button></th>
                </tr>
            </thead>
            <tbody id="table-body">

            </tbody>
        </table>
    </div>
</template>
<template id="xp-per-hour-options-skill-template">
    <tr id="row">
        <th class="text-center" scope="row">
            <img class="skill-icon-xs" id="skill-image" src="">
        </th>
        <td class="font-w600 font-size-sm">
            <small id="skill-name"></small>
        </td>
        <td class="font-w600 font-size-sm">
            <button id="reset" role="button" class="btn btn-sm btn-info font-size-xs w-100">Reset</button>
        </td>
    </tr>
</template>